@font-face {
	font-family:'MuseoSans-300';
	src: url('fonts/museo-300/MuseoSans-300.eot');
	src: url('fonts/museo-300/MuseoSans-300.eot?#iefix') format('embedded-opentype'),
		url('fonts/museo-300/MuseoSans-300.woff') format('woff'),
		url('fonts/museo-300/MuseoSans-300.ttf') format('truetype'),
		url('fonts/museo-300/MuseoSans-300.svg#MuseoSans-300') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
@font-face {
	font-family:'MuseoSans-500';
	src: url('fonts/museo-500/MuseoSans-500_gdi.eot');
	src: url('fonts/museo-500/MuseoSans-500_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/museo-500/MuseoSans-500_gdi.woff') format('woff'),
		url('fonts/museo-500/MuseoSans-500_gdi.ttf') format('truetype'),
		url('fonts/museo-500/MuseoSans-500_gdi.svg#MuseoSans-500') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
@font-face {
	font-family:'MuseoSans-700';
	src: url('fonts/museo-700/MuseoSans-700_gdi.eot');
	src: url('fonts/museo-700/MuseoSans-700_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/museo-700/MuseoSans-700_gdi.woff') format('woff'),
		url('fonts/museo-700/MuseoSans-700_gdi.ttf') format('truetype'),
		url('fonts/museo-700/MuseoSans-700_gdi.svg#MuseoSans-700') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

* {box-sizing:border-box; padding: 0; margin: 0;}
::before,::after {box-sizing:inherit;}
*[class$="button"],input[type="submit"], button {
	cursor: pointer;
}
.clearfix::after {
	content: '';
	clear: both;
	width: 100%;
	display: block;
}
a {
	color: inherit;
	text-decoration: none;
}
::-webkit-input-placeholder {
   color: inherit;
}

:-moz-placeholder { /* Firefox 18- */
   color:  inherit;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:  inherit;
}

:-ms-input-placeholder {  
   color: inherit;
}

body {
	font-family:'MuseoSans-300', sans-serif;
	color: #707070;
}

.wrapper {
	width: 1200px;
	max-width: 90%;
	margin: auto;
} 
.site-header {
	text-align: center;
	
	background-size: cover;
	min-height: 100vh;
	font-size: 20px;
	padding: 57px 0 186px 0; 
}
@media (min-width:1024px) {
	.site-header {
		background-image: url('../images/bg01.jpg');
		-webkit-background-size: cover;
	}
}
.site-header .wrapper {
	width: 890px;
} 
.site-header .wrapper p {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
h1,h3 {color: #004a8f; text-transform: uppercase; font-family:'MuseoSans-700', sans-serif; font-weight: normal;}

.site-header  h1 {
	font-size: 43px;
	text-transform: uppercase;
	margin-top: 30px;
}
.site-header  p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.site-header h3 {
	font-size: 20px;
}
.alert {
	color: #f36f21;
	
}
strong {
	font-family:'MuseoSans-700';
}
.btn-video {
	background: #004a8f;
	color: #fff;
	font-size: .7em;
	padding: 7px 12px;
	border-radius: 30px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 20px;
	line-height: 1;
	display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;
}
.btn-video:hover {
	background: #f36f21;
}
.btn-video img {
	vertical-align: middle;
	margin-right: 6px;
}

.site-sec .mod {
	width: 539px;
	max-width: 90%;
	background: #fff;
	margin: auto;
	padding: 1.6em 1.5em;
	position: relative;
	z-index: 2;
}


.site-sec {
	padding: 50px 0; 
	background-position: center;
	-webkit-background-size:  auto 100%;
	background-size:  auto 100%;
}
@media (min-width:768px) {
	.site-sec { 
		padding: 166px 0; 		
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		background-repeat: no-repeat;
		position: relative;
		margin-top: -8%;
    	background-color: #fff;
	}
	.site-sec:nth-child(even) {
		-webkit-clip-path: polygon(0 0, 100% 20%, 100% 79%, 0% 100%);
		clip-path: polygon(0 0, 100% 14%, 100% 80%, 0% 100%);
		top: -20%;
	}
	.site-sec:nth-child(odd) {
		-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
		clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
		top: -20%;
	}
	.site-sec:nth-child(odd)::before {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 50%;
		height: 100%;
		background: rgba(221,229,238,1);
		background: -moz-linear-gradient(left, rgba(221,229,238,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,229,238,1)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left, rgba(221,229,238,1) 0%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(left, rgba(221,229,238,1) 0%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(left, rgba(221,229,238,1) 0%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to right, rgba(221,229,238,1) 0%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde5ee', endColorstr='#ffffff', GradientType=1 ); 
	}
	.site-sec .mod  {
		background: transparent;
	}
	.site-sec:nth-child(odd) .mod{
		margin-left: 0;
		margin-right: auto;
	}
	.site-sec:nth-child(even) .mod{
		margin-right: 0;
		margin-left: auto;
	}	
}
.site-sec {
	overflow: hidden;
}
.site-sec .mod {
	opacity: 0;
	transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.site-sec:nth-child(even) .mod {
	transform: translateX(80%);
}
.site-sec:nth-child(odd) .mod {
	transform: translateX(-80%);
}
.site-end  .wrapper {
	transform: translateY(40%);
	opacity: 0;
	transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.site-end.is-current  .wrapper {
	transform: translateY(0%);
	opacity: 1; 
}


.site-sec.is-current .mod {opacity: 1;}
.site-sec:nth-child(even).is-current .mod {
	transform: translateX(0%);
}
.site-sec:nth-child(odd).is-current .mod {
	transform: translateX(0%);
}


.site-sec h3  {
	margin-bottom: 8px;
}

.site-sec:nth-child(even) h3 { 
	color: #f36f21;
}
@media (min-width:1024px) {
	.site-sec:nth-child(odd)  {
		background-position: 150% 0;
	}
	.site-sec:nth-child(even)  {
		background-position:  -50% 0; 
	}
}
@media (min-width:1400px) {
	.site-sec:nth-child(odd)  {
	background-position: 100% 0;
	}
	.site-sec:nth-child(even)  {
		background-position:  0% 0; 
	} 
}
#site-sec01 {
	background-image: url(../images/bg02.jpg);
}

#site-sec02 {
	background-image: url(../images/bg03.jpg);
}

#site-sec03 {
	background-image: url(../images/bg04.jpg);
}

#site-sec04 {
	background-image: url(../images/bg05.jpg);
}

#site-sec05 {
	background-image: url(../images/bg06.jpg);
}

#site-sec06 {
	background-image: url(../images/bg07.jpg);
}

#site-sec07 {
	background-image: url(../images/bg08.jpg);
}

#site-sec08 {
	background-image: url(../images/bg09.jpg);
}

#site-sec09 {
	background-image: url(../images/bg10.jpg);
}

#site-sec10 {
	background-image: url(../images/bg11.jpg);
}

.site-end {
	text-align: center;
}
.site-end .wrapper {
	width: 750px;
}
.site-end .wrapper h3 {
	font-size: 22px;
	text-transform: none;
}
.site-end .wrapper .duvidas {
	font-size: 16px;  
	line-height: 1.6;
	margin-top: 34px;
	padding-bottom: 36px;
}
.site-end .wrapper .duvidas h4{
	color: #f66217;
}

#btn-topo {
	cursor: pointer;
	margin-top: 36px;
}

.site-footer {
	padding: 36px 0 18px 0;
	background: #326cbd;
}
.site-footer .wrapper {
	width: 870px;
}
.site-footer .wrapper{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;
}
img {
	max-width: 100%;
	height: auto;
}
.site-footer img {
	display: block; 
	margin: auto auto 18px auto;
}

.site-sec .mod h3::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/check.png);
	margin-right: 5px;
}
.site-sec:nth-child(even) .mod h3::before {
	background-position: 0 0;
	width: 21px;
	height: 22px;
}
.site-sec:nth-child(odd) .mod h3::before {
	background-position: -27px 0;
	width: 21px;
	height: 22px;
}

.video-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0; 
	background: rgba(0, 0, 0, 0.8);
	z-index: 20;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
}
.video-overlay.is-visible {
	visibility: visible;
	opacity: 1;
}
.video-overlay div {
	width: 90%;
	max-width: 1080px;
	position: absolute;
	right: 0; left: 0;
	top: 0; bottom: 0;
	margin: auto;
		display: flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    align-items:center;
	height: 100%;
}
.video-overlay div div {
	width: 100%; 
	height: 0;
	padding-bottom: 56.6%;
}
.video-overlay div iframe {
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
}